
.task__card{
    height: 250px;
    width: 200px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.task__item{
    width: 200px;
    height: 250px;
    background: #fff;
    padding: 10px;
    box-shadow:
            0 1px 1px rgba(0,0,0,0.15),
            0 10px 0 -5px #eee,
            0 10px 1px -4px rgba(0,0,0,0.15),
            0 20px 0 -10px #eee,
            0 20px 1px -9px rgba(0,0,0,0.15);
    transition: transform 0.25s ease-in-out;
}

.task__item:first-child{
    margin-top: 20px;
}

.task__item:hover{
    transform: scale(1.1)
}

.task__title{
    font-size: 25px;
    margin-top: 20px;
    color:#464646;
}

.task_responsible{
    margin-top: 10%;
    margin-bottom: 30px;
    color: #464646;
}

.task-status{
    margin-top: 18%;
}


.status-col{
    min-height: 4px;
    width: 80%;
}
