.message{
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    display: flex;
    text-align: left;
    background-color: white;
    min-width: 200px;
    max-width: 750px;
    min-height: 60px;
    margin-right: 10px;
    /*float: right;*/
    margin-top: 10px;
    /*padding-left: 20px;*/
    padding:20px 20px 20px 0;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word; /* Позволяет переносить длинные слова на новую строку */
}

.message p{
    margin-left: 30px;
    word-wrap: break-word
}

.mes_reverse{
    transform: scaleX(-1);
}

.message-ny{
    display: flex;
    transform: scaleX(-1);
    margin-left: 5px;
    margin-right: auto;
}

.message-ny p{
    margin-left: auto;
}

.mes_time{
    font-size: 12px;
    position: sticky;
    margin-top: auto;
}

.message-ny .mes_time{
    transform: scaleX(-1);
}
