.chat-container {
    display: block;
    border: 1px rgba(0,0,0,0.3) solid;
}

.chatter{
    display:flex;
    padding: 20px 0 15px 20px;
}

.chat-img{
    width: 69px;
    border-radius: 100%;
}

.chat__name{
    padding: 10px;
}
