.team_btns{
    margin: 2vh 0;
    padding: 1vh;
}

.team-btn{
    margin: 0 20px;
    width: 10vw;
    height: 5vh;
    background-color: #dcb996;
}

.team-leaving{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
